<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Confirmation</title>
</head>
<body data-th-object="${order}">
  <div border="1">
    <h1>Delivery Details</h1>
    <p>Order Number: <a data-th-href="@{'/pizza/order/' + *{orderId}}" data-th-text="*{orderId}"></a></p>
    <br>
    <p>Your order will be delivered to </p>
    <p data-th-text="*{address}"></p>
    <br>
    <p>Pizza cost: </p>
    <p data-th-text="*{pizzaCost}"></p>
    <br>
    <p data-th-if="*{rush}">Rush: $2</p>
    <br>
    <p>Total cost: </p>
    <p data-th-text="*{total}"></p>
  </div>
</body>
</html>